<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "11_hover_menu" }); %>
  <body>
    <div class="item home">
      <div class="dot"></div>
      <div class="text">home</div>
    </div>
    <div class="item">
      <div class="dot"></div>
      <div class="text">about</div>
    </div>
    <div class="item">
      <div class="dot"></div>
      <div class="text">portfolio</div>
    </div>
    <div class="item">
      <div class="dot"></div>
      <div class="text">contact us</div>
    </div>
  </body>
</html>