<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "13_text_effects" }); %>
  <body>
    <div class='wrapper'>
      <p class="edit-text"></p>
      <p class='split-text-by-characters'>Letter by letter animation with GSAP</p>
      <p class='split-text-by-words'>Word by word animation with GSAP</p>
      <p class='split-text-by-lines'>The Only Way To Do Great Work Is To Love What You Do. If You Haven’t Found It Yet, Keep Looking. Don’t Settle.</p>
    </div>
  </body>
</html>