@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');

body {
	background: #1d1d1d;
	color: #333;
}

.quote {
	padding: 1em;
}

.quote p {
	max-width: 1200px;
	margin: auto;
	font-family: sans-serif;
	font-weight: bold;
	font-size: clamp(16px, 5vw, 46px);
}

h2 {
	color: #999;
	font-weight: 100;
	font-family: 'REM';
	font-size: clamp(24px, 8vw, 60px);
	text-align: center;
}
