<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "17_pin" }); %>
  <body>
    <div class="container">
      <div class="section section1">
        <p class='pin-condition'>pin with pin spacing(default)</p>
        <div class="box box1"></div>
        <div class="box box2"></div>
      </div>
      <div class="section section2">
        <p class='pin-condition'>pin without pin spacing</p>
        <div class="box box1"></div>
        <div class="box box2"></div>
      </div>
      <div class="section section3">
        <p class='pin-condition'>no pin</p>
        <div class="box box1"></div>
        <div class="box box2"></div>
      </div>
    </div>
  </body>
</html>