<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "51_horizontal_scroll_pin3" }); %>
  <body>

    <div class="space-50vh lightBG"></div>

    <div class="racesWrapper">
      <div class="races">
        <div>
          <h2>Austria</h2>
        </div>
        <div>
          <h2>Hungary</h2>
        </div>
        <div>
          <h2>Italy</h2>
        </div>
        <div>
          <h2>Great Britain</h2>
        </div>
        <div>
          <h2>Bahrain</h2>
        </div>
      </div>
      <div class="maps">
        <div class="map">Austria</div>
        <div class="map">Hungary</div>
        <div class="map">Italy</div>
        <div class="map">Great<br>Britain</div>
        <div class="map">Bahrain</div>
      </div>
    </div>

    <div class="space-100vh lightBG"></div>
  </body>
</html>