<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "29_four_way_to_toggle_animation" }); %>
  <body>
    <div class="wrapper">
      <div class="container1 container">container1</div>
      <div class="container2 container">container2</div>
      <div class="container3 container">container3</div>
    </div>
  </body>
</html>