<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "50_horizontal_scroll_pin2" }); %>
  <body>

    <div class="space-50vh lightBG"></div>

    <div class="racesWrapper">
      <div class="races">
        <div>
          <h2>Monaco</h2>
        </div>
        <div>
          <h2>Austria</h2>
        </div>
        <div class="hungary">
          <h2>Hungary</h2>
        </div>
        <div>
          <h2>Netherlands</h2>
        </div>
        <div>
          <h2>Japan</h2>
        </div>
      </div>
    </div>

    <div class="space-100vh lightBG"></div>
  </body>
</html>