<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "62_reveal_words_on_scroll2" }); %>
  <body>
    <div style="height:80vh;"></div>
    <h2>PRO MODE</h2>
    <div class="quote">
      <p>Your Creative Coding Club membership gives you access to over 250 premium video lessons. Unlock the world's most comprehensive GSAP training today.</p>
    </div>
    <div style="height:100vh;"></div>
  </body>
</html>