<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "56_staggered_text_spin2" }); %>
  <body>
    <div class="rotatingHeader">
      <h1>SPINNING TEXT</h1>
    </div>
  </body>
</html>