@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap');

body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	color: #333;
	margin: 0;
	background: #efefef;
}

.dark {
	background: #020202;
	h1 {
		color: #ccc;
	}
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.content-wrapper {
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
}

.content {
	position: relative;
	overflow: hidden;
	width: 600px;
	background: #2e2155;
	background: -moz-radial-gradient(center, ellipse cover, #2e2155 1%, #040313 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #2e2155 1%, #040313 100%);
	background: radial-gradient(ellipse at center, #2e2155 1%, #040313 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2155', endColorstr='#040313',GradientType=1 );
	img {
		position: absolute;
		width: 600px;
		height: 600px;
		filter: brightness(1.3);
	}
}
