<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "14_keyframes" }); %>
  <body>

    <div class="content-wrapper">
      <h1>Keyframes Simple Jump</h1>
      <div class="objects">
        <div class="objects__object"></div>
        <div class="objects__object"></div>
        <div class="objects__object"></div>
        <div class="objects__object"></div>
        <div class="objects__object"></div>
        <div class="objects__object"></div>
        <div class="objects__object"></div>
      </div>
      <div class="button-container">
        <button id="play">play</button>
      </div>
    </div>

  </body>
</html>