<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "32_off_screen_reset" }); %>
  <body>
    <div class="content">
      <div class="container container1"></div>
      <div class="container container2">
        <div class="box"></div>
      </div>
      <div class="container container3"></div>
    </div>
  </body>
</html>