<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "6_transform_origin" }); %>
  <body>

    <div class="demo">
      <h2><span>transformOrigin</span> is set with a pair of <span>horizontal</span> and <span>vertical</span> values</h2>
      <div class="box"></div>
      <div class="labels"></div>
      <div class="nav">
        <div class="radios">
          <label>
            <input type="radio" name="property" value="pixels" checked>
            pixels
          </label>
          <label>
            <input type="radio" name="property" value="percents">
            percents
          </label>
          <label>
            <input type="radio" name="property" value="keywords">
            keywords
          </label>
        </div>

      </div>
    </div>
    <div class="hidden">
      <div class="label">left top</div>
    </div>

  </body>
</html>