<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "57_staggered_text_spin3" }); %>
  <body>
    <div class="rotatingHeader">
      <h1>LEARN TO MAKE</h1>
    </div>
    <div class="rotatingHeader">
      <h1>AWARD WINNING</h1>
    </div>
    <div class="rotatingHeader">
      <h1>TEXT EFFECTS</h1>
    </div>
  </body>
</html>