<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "24_container_animation" }); %>
  <body>
    <div class="container-wrapper">
      <div class="container vertical-container container1">
        <div class="container-number">CONTAINER1(VERTICAL SCROLL)</div>
      </div>
      <div class="horizontal-containers">
        <div class="horizontal-container container container2">
          <div class="container-number">CONTAINER2(HORIZONTAL SCROLL)</div>
          <div class="box box1">BOX1</div>
        </div>
        <div class="horizontal-container container container3">
          <div class="container-number">CONTAINER3(HORIZONTAL SCROLL)</div>
          <div class="box box2">BOX2</div>
        </div>
        <div class="horizontal-container container container4">
          <div class="container-number">CONTAINER4(HORIZONTAL SCROLL)</div>
          <div class="box box3">BOX3</div>
        </div>
        <div class="horizontal-container container container5">
          <div class="container-number">CONTAINER5(HORIZONTAL SCROLL)</div>
          <div class="box box4">BOX4</div>
        </div>
      </div>
      <div class="container vertical-container container6">
        <div class="container-number">CONTAINER6(VERTICAL SCROLL)</div>
      </div>
    </div>
  </body>
</html>