<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "15_scroll_trigger" }); %>
  <body>
    <div class="container">

      <div class="section section1">
        <div class="box box1"></div>
      </div>

      <div class="section section2">
        <div class="box box2"></div>
      </div>

      <div class="section section3">
        <div class="box box3"></div>
      </div>

    </div>
  </body>
</html>