body {
  margin: 0;
}

.section {
  width: 100%;
  height: 300vh;
}
.section1 {
  background-color: grey;
  padding-top: 90vh;
}
.section2 {
  background-color: rgb(205, 159, 167);
  padding-top: 90vh;
}
.section3 {
  background-color: rgb(113, 161, 180);
  padding-top: 90vh;
}

.box {
  width: 100px;
  height: 100px;
}
.box1 {
  background-color: white;
  margin-top: 90vh;
}
.box2 {
  background-color: white;
  margin-top: 90vh;
}
.box3 {
  background-color: white;
  margin-top: 90vh;
}