<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "49_horizontal_scroll_pin1" }); %>
  <body>
    <div class="space-50vh lightBG"></div>

    <div class="racesWrapper">
      <div class="races">
        <h2>Monaco</h2>
        <h2>Austria</h2>
        <h2>Hungary</h2>
        <h2>Netherlands</h2>
        <h2>Japan</h2>
      </div>
    </div>

    <div class="space-100vh lightBG"></div>

</html>