<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "21_toggle_class" }); %>
  <body>
    <div class="containers-wrapper">
      <div class="container container1"></div>
      <div class="container container2"></div>
      <div class="container container3"></div>
      <div class="container container4"></div>
      <button class="to-top">back to top</button>
    </div>
  </body>
</html>