<!DOCTYPE html>
<html lang="en">
  <link href='https://codepen.io/GreenSock/pen/7ba936b34824fefdccfe2c6d9f0b740b.css' rel='stylesheet'>
  <%- include( '../common/_head.ejs', { title : "38_control_video" }); %>
  <body>
    <h1>Scroll down to see video</h1>
    <div class="spacer"></div>
    <h1>Let's go surfin' now</h1>
    <h2>Everybody's learnin' how</h2>
    <video id="video" playsinline loop controls muted>
      <source src="https://snorkl.tv/video/surf.mp4" type="video/mp4">
    </video>
    <p>Video by <a href="https://www.pexels.com/@roman-odintsov?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels" target="blank">ROMAN ODINTSOV</a> from Pexels</p>
    <div class="spacer"></div>
  </body>
</html>