<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "5_tween_control" }); %>
  <body>
    <div class="box box1"></div>
    <div class="controllers">
      <button class="controller" id='play'>play</button>
      <button class="controller" id='pause'>pause</button>
      <button class="controller" id='reverse'>reverse</button>
      <button class="controller" id='restart'>restart</button>
    </div>
  </body>
</html>