<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "10_hole_jumper" }); %>
  <body>
    <div class='project-wrapper'>
      <div class='hole'></div>
      <div class="shadow"></div>
      <div class="object-wrapper">
        <div class="object"></div>
      </div>
    </div>
  </body>
</html>