@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@800&family=Staatliches&display=swap");
body {
  background: #12171b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

* {
  position: relative;
}

.spacer {
  height: 60vh;
}

.rotatingHeader {
  width: fit-content;
  white-space: nowrap;
  padding-bottom: 20px;
}

.rotatingHeader h1 {
  font-family: "Saira Extra Condensed", sans-serif;
  color: #444;
  font-size: clamp(40px, 10vw, 200px);
  margin: 0;
  padding: 0;
  line-height: 0.5;
  perspective: 600px;
}

.rotatingHeader h1:nth-child(2) {
  color: #efefef;
}