<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "12_constant_hover_pulse" }); %>
  <body>
    <div class="banner">
      <h2>YOUR DREAM<br> <span>VACATION</span></h2>
      <button class="cta">Book Now</button>
    </div>
  </body>
</html>