<!DOCTYPE html>
<html lang="en">
  <%- include( '../common/_head.ejs', { title : "23_prevent_overlaps" }); %>
  <body>
    <div class="containers-wrapper" id='container-wrapper'>
      <div class="container container1"></div>
      <div class="container container2"></div>
      <div class="container container3"></div>
      <div class="container container4"></div>
      <button class="to-top to-top1">
        <a href="#container-wrapper">
          to top1
        </a>
      </button>
      <button class="to-top to-top2">
        <a href="#container-wrapper">
          to top2
        </a>
      </button>
      <button class="to-top to-top3">
        <a href="#container-wrapper">
          to top3
        </a>
      </button>
      <button class="to-top to-top4">
        <a href="#container-wrapper">
          to top4
        </a>
      </button>
    </div>
  </body>
</html>